// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #303030;
  background: -moz-linear-gradient(top, #33383f 0%, #1e242b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #33383f 0%,#1e242b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #33383f 0%,#1e242b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.profile {
  margin: 45px;

  &__form {
    padding-top: 10%;
    text-align: center;
    width: 100%;
  }

  &__description {
    text-align: left;
  }

  &__picture {
    border-radius: 50%;
    width: 150px;
  } 

  &__name {
    color: #fff;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  &__submit {
   margin-top: 10%;
 }
}
