// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  background-size: 200vw;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin: 25px;


  &__checkbox {
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  &__submit {
    margin: auto;
    margin-bottom: 50px;
  }

  &__title {
    color: #fff;
    text-align: center;
  }
}
