.welcome {
  height: 100vh;
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/329207/screenshots/1868886/bemocs_fox_sports_dribbble.jpg);
  background-size: cover;
  overflow: hidden;
  padding-top: 20%;
  text-align: center;

  &__deck {
    color: #fff;
  }

  &__headline {
    color: #fff;
  }

  &__name {
    color: #fff;
  }

  &__start {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50%;
    text-decoration: none;
    text-transform: uppercase;
    width: 75%;
  }
}
