.welcome {
  height: 100vh;
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/329207/screenshots/1868886/bemocs_fox_sports_dribbble.jpg);
  background-size: cover;
  overflow: hidden;
  padding-top: 20%;
  text-align: center;

  &__deck {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 1px 2px 3px rgba(22, 22, 22, 1);
    line-height: 1.6;
    margin: 5px 35px;
  }

  &__headline {
    color: #fff;
    font-family: monospace;
    font-size: 18px;

  }

  &__name {
    color: #fff;
    font-family: sans-serif;;
  }

  &__start {
    background: #4dd166;
    border-color: darken(#4dd166, 10%);
    border-width: 2px;
    border-style: solid;
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50%;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    width: 75%;
  }
}
